             <div class="col-md-5">
                <h3>4 Charms</h3>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">2
                      <span class="glyphicon glyphicon-certificate solar"></span>
                    </span>
                    <b> <a href="#" title="Dodge: xxxxxxxxx">Shadow Over Water</a></b>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2
                      <span class="glyphicon glyphicon-repeat solar"></span>
                    </span>
                    <b> <a href="#" title="Add successes">2nd Dodge Excellency</a> </b>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1
                      <span class="glyphicon glyphicon-certificate solar"></span>
                    </span>
                    <b> <a href="#" title="Add successes">Mastery of Small Manners</a> </b>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">3
                      <span class="glyphicon glyphicon-certificate solar"></span>1
                      <span class=" solar">WP</span>
                    </span>
                    <b> <a href="#" title="Add successes">Wise-Eyed Courtier Method</a> </b>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">4
                      <span class="glyphicon glyphicon-certificate solar"></span>
                    </span>
                    <b> <a href="#" title="Add successes">3rd Socialize Excellency (R)</a> </b>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">10
                      <span class="glyphicon glyphicon-certificate solar"></span>1
                      <span class=" solar">WP</span>
                    </span>
                    <b> <a href="#" title="Add successes">Venomous Whipsers</a> </b>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">3
                      <span class="glyphicon glyphicon-certificate solar"></span>1
                      <span class=" solar">WP</span>
                    </span>
                    <b> <a href="#" title="Add successes">Wild Revelry Approach</a> </b>
                  </li>
                </ul>

              </div>
              <div class="col-md-4">
                <h3>Charms</h3>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">2
                      <span class="glyphicon glyphicon-certificate solar"></span>
                    </span>
                    <b> <a href="#" title="Dodge: xxxxxxxxx">Shadow Over Water</a></b>
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2
                      <span class="glyphicon glyphicon-repeat solar"></span>
                    </span>
                    <b> <a href="#" title="Add successes">2nd Dodge Excellency</a> </b>
                  </li>
                </ul>
              </div>